


    @import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

    .container {
      font-family: sans-serif;
    }

    body
    {
        background-color:cadetblue;
    }

    .app h1 {
      font-size: 40px;
      font-family: "Rajdhani", sans-serif;
    }

    .app form {
      display: flex;
    }

    .app form input {
      border: none;
      font-size: 18px;
      background-color: #3c4979; 
      width: 90%;
    }

    .app form button {
      border: none;
      font-size: 25px;
      font-weight: 600;
      height: 42px;
      width: 10%;
    }

    .app ul li {
      padding: 10px;
    }

    .check {
      width: 0.8em;
      height: 0.8em;
      cursor: pointer;
      border-radius: 50%;
      background-color: white;
      border: 1px solid rgb(255, 255, 255);
      -webkit-appearance: none;
    }

    .check:checked {
      background-color: #1dd2af;
    }

    .task {
      font-size: 18px;
      padding: 0 10px;
      width: fit-content;
      background: transparent;
      border: none;
      color: #fff;
    }

    .task:focus {
      outline: none;
    }

    .app ul li i {
      cursor: pointer;
    }

    .app ul li i:hover {
      color: rgb(255, 82, 82);
    }

    .completed {
      color: rgba(192, 192, 192, 0.8);
      text-decoration: line-through;
    }